.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    text-align: center;
}


.scentence1 {
    color: #DD9719;
    font-style: italic;
    text-align: center;
}

.about {
    column-count: 2;
}