.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    margin-top: 10px
    
}

.title {
    text-align: center;
    font-family: 'Lato', sans-serif;
}


h2 {
    color: tomato;
    font-family: "ff-meta-serif-web-pro", serif;
    font-style: italic;
    text-align: center;
    margin-top: 25px;
    font-size: 1em;
}

.about {
    column-count: 2;
    margin-top: 25px;
    column-gap: 25px;
}

.home-carousel {
 
    color: white;
    font-size:100px !important;
    font-family: warisover;
    justify-content: flex-start;
    margin-bottom: 160px !important;
    font-weight: 2000px !important;
    text-align: center;
    letter-spacing: 2px;
    

}

@font-face {
    font-family: warisover;
    src: url('/Users/lindsayellis/website/public/warisover.ttf') format('truetype');
} 

.learn-button {
    border-radius: 40%;
    height: 45px;
    width: 150px;
    background-color: transparent;
    margin-bottom: 100px
}
