div.nav-text.container {
  display: flex;
  padding-right: 30px;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
}

.nav-brand {
  width: 220px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: flex-start;
  margin-left: 80px;
}

.link {
  color: white;
  text-decoration: none;
  padding: 0.6em;
  font-family: Lato;
  display: flex;
  align-items: baseline !important;
  margin-right: 90px;
  font-weight: bold;
}

.link:hover {
  color: tomato;
  text-decoration: none;
}

NavDropdown {
  display: flex !important;
  gap: 50px !important;
}

#dropdown {
  color: white;
  text-decoration: none;

  font-family: Lato;
  font-weight: bold;
  line-height: 1.7em;
  margin-right: 80px;

  display: flex;
  /* margin-bottom: 12px; */
}

a#dropdown.dropdown-toggle.nav-link::after {
  content: none;
}

#dropdown:hover {
  color: tomato;
}

.book1-link {
  text-decoration: none;
  color: black;
  text-align: center;
  margin-left: 0;
}

.book1-link:hover {
  color: tomato;
}

body {
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  div.nav-text.container {
    display: flex !important;
    padding-right: 30px;
    flex-wrap: wrap !important;
    width: 100%;
    height: 105px;
    position: relative !important;
  }
  .link {
    color: white;
    text-decoration: none;
    padding: 0.6em;
    font-family: Lato;
    display: flex !important;
    /* align-items: baseline; */
    margin-right: 90px;
    font-weight: bold;
    flex-wrap: wrap !important;
    flex-direction: column !important;
    position: relative !important;
    overflow-y: hidden !important;
  }
  .nav-brand {
    width: 220px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    /* justify-content: flex-start; */
    position: relative !important;
    flex-direction: column !important;
    margin-left: 80px;
    flex-wrap: wrap !important;
  }
}
