.navbar {
left:0;
bottom:0;
width: 100%;
height: 105px;
}

.myCustomNavLink {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    padding: 0.6em;
    font-family: Lato;
    font-weight: bold;
  }
  
  .myCustomNavLink:hover {
    color: tomato;
    text-decoration: none;
  }
  